<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <!-- Display and Manage Task -->
        <div class="col-md-2" style="height: 90vh; border-right: 1px solid #f4f4f4;">

        </div>
    <div class="col-md-10">
    <div cdkDropListGroup>
      <div class="row">
        <div class="col-md-4">
          <!-- Todo -->
        <div class="example-container">
        <div class="h2">
            <div class="col" style="text-align:left;">
              To Do
              </div>
              <div class="col" style="text-align:right;">
                <span class="chips" *ngIf="tasks.length > 0">{{tasks.length}}</span>
             </div>
         </div>
        <div class="border0">
        <div (click)="openDialog()" class="colnew" style="text-align:center;">
        <mat-icon >add</mat-icon></div>
         </div>
    
        <div *ngIf="tasks"  id="tasks" cdkDropList #tasksList="cdkDropList"  [cdkDropListData]="tasks" class="example-list" (cdkDropListDropped)="drop($event)">
           <div class="example-box" *ngFor="let item of tasks; let i = index" cdkDrag >
             <mat-accordion class="w100">
    
               <mat-expansion-panel class="border0" hideToggle>
                 <mat-expansion-panel-header>
                   <mat-panel-title>
                  {{item.description}}
                   </mat-panel-title>
                   <mat-panel-description>
    
                   <div class="box">
                     <button mat-icon-button color="warn" (click)="deleteTask(item)" ><mat-icon>delete</mat-icon></button>
                      <button mat-icon-button color="primary" (click)="editTasks(item)" ><mat-icon>edit</mat-icon></button>
                    </div>
    
                     </mat-panel-description>
    
                 </mat-expansion-panel-header>
                 <p>{{item.taskdescription}}</p>
                 <div><b>Complexity</b>: <span style="color: red;">{{item.complex}}</span></div>
                 <br> 
                 <div><img [src]="item.imageURL" style="height:20px; width:20px;"></div>
               </mat-expansion-panel>
             </mat-accordion>
           </div>
           </div>
    
      </div>
    
          </div>
          <div class="col-md-4">
          <!-- In Progress -->
          <div class="example-container">
            <div class="h2">
                <div class="col" style="text-align:left;">
                  In Progress
                  </div>
                  <div class="col" style="text-align:right;">
                    <span class="chips" *ngIf="inprogress.length > 0">{{inprogress.length}}</span>
                    </div>
    
            </div>
      <div
      id="inProgress"
      cdkDropList
       #inProgressList="cdkDropList"
         [cdkDropListData]="inprogress"
         class="example-list"
         (cdkDropListDropped)="drop($event)" (cdkDropListDropped)="addInprogress($event)">
         <div class="example-box" *ngFor="let item of inprogress; let i = index" cdkDrag>
    
           <mat-accordion class="w100">
    
             <mat-expansion-panel class="border0" hideToggle>
               <mat-expansion-panel-header>
                 <mat-panel-title>
            {{item.description}}
                 </mat-panel-title>
                 <mat-panel-description>
    
                 <div class="box">
                   <button mat-icon-button color="warn" (click)="deleteInproTask(item, i)" ><mat-icon>delete</mat-icon></button>
                  </div>
    
                   </mat-panel-description>
    
               </mat-expansion-panel-header>
               <p>{{item.taskdescription}}</p>
               <div><b>Complexity</b>: <span style="color: red;">{{item.complex}}</span></div>
               <br>
               <div><img [src]="item.imageURL" style="height:20px; width:20px;"></div>
              </mat-expansion-panel>
           </mat-accordion>
    
           </div>
       </div>
    </div>
    
          </div>
            <div class="col-md-4">
              <!-- Done -->
              <div class="example-container">
      <div class="h2">
          <div class="col" style="text-align:left;">
      Done
            </div>
            <div class="col" style="text-align:right;">
              <span class="chips" *ngIf="done.length > 0">{{done.length}}</span>
              </div>
    
      </div>
      <div
      cdkDropList
      id="done"
      #doneList="cdkDropList"
         [cdkDropListData]="done"
         class="example-list"
         (cdkDropListDropped)="drop($event)" (cdkDropListDropped)="adddone($event)">
         <div class="example-box" *ngFor="let item of done; let i = index" cdkDrag>
           <mat-accordion class="w100">
    
             <mat-expansion-panel class="border0" hideToggle>
               <mat-expansion-panel-header>
                 <mat-panel-title>
            {{item.description}}
                 </mat-panel-title>
                 <mat-panel-description>
    
    
                   <div class="box">
                     <button mat-icon-button color="warn" (click)="deleteDoneTask(item, i)" ><mat-icon>delete</mat-icon></button>
                         <button mat-icon-button style="color:green;" ><mat-icon>check_circle</mat-icon></button>
                     </div>
    
                   </mat-panel-description>
    
               </mat-expansion-panel-header>
               <p>{{item.taskdescription}}</p>
               <div><b>Complexity</b>: <span style="color: red;">{{item.complex}}</span></div>
               <br>
               <div><img [src]="item.imageURL" style="height:20px; width:20px;"></div>
             </mat-expansion-panel>
           </mat-accordion>
           </div>
       </div>
    </div>
    
        </div>
        </div>
      </div>
    </div>
    <!--Display and Manage Task End -->
    </div>
    </div>